body{
    background-color: rgb(23, 51, 15);
    color: rgb(235, 230, 163);
    margin: 0;
    padding: 0;
}

html * {
    font-family: Cardo, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a:link, a:hover, a:visited{
    color: #ff0;
    text-decoration: none;
}
h2{
  font-size: 1.25em;
  padding: 0 3.25em;
}
h1, h2 {
    text-align: center;
    margin: 0.5em 0;
}
.header{
    position: sticky;
    top: -1px;
    background-color: rgb(23, 51, 15);
    min-height: 3em;
    z-index: 1;
    padding-top: 0.5em;
}
.header audio{
    display: none;
}
.header .player{
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-bottom: 1em;
}
.header 
.icon{
    width: 1.8em;
    height: 1.8em;
    font-size: 1.125em;
    border-radius: 99% 99%;
    padding-top: 0.2em;
    padding-left: 0.2em;
    flex: 0 0 1.8em;
    margin: 0 0.5em;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1.8em 1.8em;
}
.icon.play{
    background-image: url('../icons/play.svg');
}
.icon.volume{
    background-image: url('../icons/volume-up.svg');
}
.icon.mute{
    background-image: url('../icons/no-sound.svg');
}
.icon.pause{
    background-image: url('../icons/pause.svg');
}
progress{
    width: 100%;
    -webkit-appearance: none;
   appearance: none;
}
progress[value]::-webkit-progress-bar{
    border-radius: 5px;
    background-color: rgb(36, 68, 20);
}
progress[value]::-webkit-progress-value{
    background-color: rgb(255,255,0);
    border-radius: 5px;
}
progress.volume{
    width: 20%;
}
p{
    text-align: center;
}

ul {
    margin: 0.5em 1em 1em 1em;
    overflow-y: auto;
    padding-inline-start: 0px;
    background-color: rgb(38, 83, 25);
    border-radius: 5px;
    max-height: 100vh;
}
ul > li{
    display: inline-block;
    padding: 0 0.6em;
    line-height: 2em;
}
.lyrics{
    background-color: rgb(36, 68, 20)
}
.lyric-line{
    text-align: center;
    line-height: 1.5em;
    font-size: 1.2em;
}

.audio-player{
    text-align: center;
}
#app{
    position: relative;
}
.selection{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(23, 51, 15, 0.9);
    padding: 2em 5em;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 2;
}
.menu{
    position: fixed;
    width: 2em;
    height: 2em;
    font-size: 1.5em;
    display: flex;
    border-radius: 99% 99%;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,0,0.7);
    z-index: 2;
}
#sel{
    right: 1em;
    top: 0.5em;
}
#zoomin{
    right: 1em;
    bottom: 3.5em;
    font-size: 1.25em;
}
#zoomout{
    right: 1em;
    bottom: 1em;
    font-size: 1.25em;
}