<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hymns</title>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8.2.0/dist/polyfill.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/whatwg-fetch@3.5.0/dist/fetch.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css?20210131">
    <style>
    </style>
</head>
<body>
    <div id="app" :style="{fontSize:fontSize+'px'}">
        <div class="menu" id="sel" @click="showSelection()">=
        </div>
        <div class="menu" id="zoomin" @click="fontSize+=2">+
        </div>
        <div class="menu" id="zoomout" @click="fontSize-=2">-
        </div>
        <ul class="selection" v-if="selection"  @click="hideSelection()">
            <li v-for="(item,id) in index" :key="id" ><a :href="id">{{id}}</a></li>
        </ul>
        <div class="header">
            <h2>{{selectedItem.label}}</h2>
            <div class="audio-player">
                <audio ref="audio" v-if="selectedItem.media" id="audio" controls :src="selectedItem.media" onload="this.play()"></audio>
                <div class="player">
                    <a class="play" v-if="!playing" @click="play()">▶</a>
                    <a class="play" v-if="playing" @click="pause()">🁢🁢 </a>
                    <a class="play" @click="stop()">◼︎</a>
                    <progress class="time" :value="currentTime" :max="currentMax" @click="setPosition($event)"></progress>
                    <a class="play" @click="stop()">◼︎</a>
                    <progress class="volume" :value="currentTime" :max="currentMax" @click="setPosition($event)"></progress>
                </div>
            </div>
        </div>
        <div class="lyrics">
            
            <div class="lyric-line" v-for="(line,idx) in selectedItem.lyrics" :key="idx" >
                {{line}}
            </div>
        </div>
    </div>
    <script>
var app = new Vue({
  el: '#app',
  data: {
    index: {},
    selectedItem: {},
    selection: false,
    fontSize: 18,
    currentTime: 0,
    currentMax: 100,
    playing: false
  },
  mounted: function(){
      var self=this;
      fetch('json/hymns-es.json')
        .then(function(response){
            return response.json();
        })
        .then(function(json){
            self.index=json;
            self.changed();
            window.addEventListener("hashchange",self.changed);
        })
      var self=this;
      setInterval(function(){
          var audio=self.$refs.audio;
          self.currentTime = audio.currentTime;
          self.currentMax= audio.duration;
          self.playing= !audio.paused
      },300)
  },
  methods:{
      changed: function(){
        if (document.location.hash!=''){
            var sel=this.index[document.location.hash];
            if (sel){
                this.selectItem(document.location.hash);
            }
        }
      },
      play: function(){
        this.$refs.audio.play();
      },
      pause: function(){
        this.$refs.audio.pause();
      },
      stop: function(){
        this.$refs.audio.pause();
        this.$refs.audio.currentTime=0;
      },
      showSelection: function(){
        this.selection = true;
      },
      hideSelection: function(){
        this.selection = false;
      },
      setPosition: function(ev){
        console.log(ev.offsetX,ev.target.scrollWidth);
        this.$refs.audio.currentTime=this.$refs.audio.duration*ev.offsetX/ev.target.scrollWidth;
      },
      selectItem: function(id){
        var item=this.index[id];
        if (!item){
            return;
        }
        console.log("sel",item)
        var self=this;
        if (!item.media){
            fetch('api.php?action=data&url='+encodeURIComponent(item.url))
            .then(function(response){
                return response.json()
            })
            .then(function(json){
                item.lyrics=json.lyrics;
                item.pdf=json.pdf;
                item.media=json.media;
                self.index[id]=item;
                self.selectedItem=item;
                self.$forceUpdate();
            })
        }
        this.selectedItem=item;
      }
  }
})
    </script>
</body>
</html>